<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">
                <img src="/static/images/go-logo.png" alt="Logo" width="50" height="34" class="d-inline-block align-text-top">
                GOLANG
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Go Projects
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/show">CRUD</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Comming Soon..</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Technology Used</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Profile</a>
                    </li>
                    
                </ul>
                <a href="/logout" class="btn btn-outline-danger">Logout</a>
                
            </div>
        </div>
    </nav>
    <hr>
    
    <div class="container">
        <h3 class="text-center">DASHBOARD</h3>
    </div>
    <div class="container">
        {{ if .error }}
            <h4 class="alert alert-danger" role="alert">{{ .error }}</h4>
        {{ end }}
        {{ if .success }}
            <h4 class="alert alert-success" role="alert">{{ .success }}</h4>
        {{ end }}
        {{ if .message }}
            <h4 class="alert alert-success" role="alert">{{ .message }}</h4>
        {{ end }}
       <hr>
    </div>
    <div class="container text-center">
        <a href="/show" class="btn btn-block btn-success">GO TO CRUD PROJECT</a>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
