<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"> 
</head>
<body>
    <div class="container p-5">
        
        <h1 class="text-center">GOLANG PROJECTS</h1>
        <hr>
    </div>
    <div class="container p-5 border-rounded" style="border: 1px solid blue;border-radius: 5px;">
        <div class="row text-center">
            <div class="col col-md-6 col-lg-6 col-sm-12 ">
                <h4>{{ .logout }}</h4>
                <h1>{{ .message }}</h1>
            </div>
            <div class="col col-md-6 col-lg-6 col-sm-12">
                <img class="text-center" src="/static/images/go-logo.png" alt="Logo" width="70" height="54"><hr>
                <a href="/login" class="btn btn-primary btn-block ">LOGIN</a>
                <a href="/register" class="btn btn-warning btn-block ">REGISTER</a>
            </div>
        </div>
    </div>
    <footer>
        <!-- Footer content -->
    </footer>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
